<!DOCTYPE html>
<html ng-app="MyApp" ng-controller="MenuController">

<head>

    <meta charset="utf-8">
    <title>ASK QA97</title>
    <meta name="description" content="Ask Question and get instant answer from the experts">
    <meta name="author" content="Dhananjay Kumar">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Main Style -->
    
    <link href="../style.css" rel="stylesheet" />
    <!-- Skins -->
    <link href="../css/skins/{{usercss}}.css" rel="stylesheet" />    
  
    <!-- Responsive Style -->
    <link href="../css/responsive.css" rel="stylesheet" />


    <!-- Favicons -->


    <link rel="shortcut icon" href="../images/favicon.png">

  

    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/Font-Awesome-master/css/font-awesome.css" rel="stylesheet" />
    <!--<link href="../Content/font-awesome.css" rel="stylesheet" />-->
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="../Content/infragistics.css" rel="stylesheet" />
    <link href="../Content/textAngular.css" rel="stylesheet" />
    <!--<link href="../Content/angular-ui-switch.css" rel="stylesheet" />-->




    <!--vendor scripts-->
    <script src="../Scripts/jquery-1.9.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/angular-cookies.js"></script>
    <script src="../Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="../Scripts/angular-local-storage.js"></script>
    <script src="../Scripts/textAngular-rangy.min.js"></script>
    <script src="../Scripts/textAngular-sanitize.min.js"></script>
    <script src="../Scripts/textAngularSetup.js"></script>
    <script src="../Scripts/angular-ui-switch.js"></script>
    <script src="../Scripts/textAngular.js"></script>
    <script src="../Scripts/ng-file-upload-shim.js"></script>
    <script src="../Scripts/ng-file-upload.js"></script>
    <script src="../Scripts/jspdf.debug.js"></script>


    <!--For IG Chart-->
    <script src="../Scripts/modernizr-2.7.2.js"></script>
    <!--<script src="../Scripts/jquery-2.0.3.js"></script>-->
    <script src="../Scripts/jquery-ui-1.10.3.js"></script>
    <script src="../Scripts/infragistics.core.js"></script>
    <script src="../Scripts/infragistics.dv.js"></script>
    <script src="../Scripts/infragistics.lob.js"></script>
    <script src="../Scripts/igniteui-angular.js"></script>

    <!--application  scripts-->

    <script src="/Client/services/teacherservice.js"></script>
    <script src="/Client/login/login.js"></script>
    <script src="/Client/askquestion/askquestion.js"></script>
    <script src="/Client/register/register.js"></script>
    <script src="/Client/questiondetails/questiondetails.js"></script>
    <script src="/Client/listquestions/listquestions.js"></script>
    <script src="/Client/user/user.js"></script>
    <script src="confirmemail/confirmemail.js"></script>
    <script src="resetpassword/resetpassword.js"></script>
    <script src="schooladminhome/schooladminhome.js"></script>
    <script src="home.js"></script>
</head>
<body>

    <div id="wrap" class="grid_1200">

        <!-- / top container \ -->
        <!--<div class="top-header">

            <header class="clearfix">
                <a href="#Home" class="site-logo"><img src="../images/logo.png" alt="" /></a>

                <ul class="right-section">
                    <li><a href="#register">Sign up</a></li>
                    <li><a href="#login">Sign in</a></li>
                    <li><a href="#" ng-click="open('lg')" class="join-school">join school</a></li>
                </ul>
                <ul ng-show="isLoggedIn" class="right-section">
                    <li><a ng-click="navigateToUserProfile()">Hello {{userName}}</a></li>
                    <li><a ng-click="userLogOut()">Logout</a></li>
                </ul>
            </header>
            <div class="blankDiv"></div>
        </div>-->

        <!--<header id="header" class="header_light">
            <section class="container clearfix">
             
                <div class="logo"><a href="index.html"><img alt="" src="../images/logo.png"></a></div>
                <nav class="navigation">
                    <ul>
                        <li class="current_page_item">
                            <a href="index.html">Home</a>
                            <ul>
                                <li class="current_page_item"><a href="index.html">Home</a></li>
                                <li><a href="index_2.html">Home 2</a></li>
                                <li><a href="index_boxed_1.html">Home Boxed 1</a></li>
                                <li><a href="index_boxed_2.html">Home Boxed 2</a></li>
                                <li><a href="index_no_box.html">Home No Box</a></li>
                            </ul>
                        </li>
                        <li class="ask_question"><a href="ask_question.html">Ask Question</a></li>
                        <li>
                            <a href="cat_question.html">Questions</a>
                            <ul>
                                <li><a href="cat_question.html">Questions Category</a></li>
                                <li><a href="single_question.html">Question Single</a></li>
                                <li><a href="single_question_poll.html">Poll Question Single</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="user_profile.html">User</a>
                            <ul>
                                <li><a href="user_profile.html">User Profile</a></li>
                                <li><a href="user_questions.html">User Questions</a></li>
                                <li><a href="user_answers.html">User Answers</a></li>
                                <li><a href="user_favorite_questions.html">User Favorite Questions</a></li>
                                <li><a href="user_points.html">User Points</a></li>
                                <li><a href="edit_profile.html">Edit Profile</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog_1.html">Blog</a>
                            <ul>
                                <li>
                                    <a href="blog_1.html">Blog 1</a>
                                    <ul>
                                        <li><a href="blog_1.html">Right sidebar</a></li>
                                        <li><a href="blog_1_l_sidebar.html">Left sidebar</a></li>
                                        <li><a href="blog_1_full_width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="blog_2.html">Blog 2</a>
                                    <ul>
                                        <li><a href="blog_2.html">Right sidebar</a></li>
                                        <li><a href="blog_2_l_sidebar.html">Left sidebar</a></li>
                                        <li><a href="blog_2_full_width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="single_post.html">Post Single</a>
                                    <ul>
                                        <li><a href="single_post.html">Right sidebar</a></li>
                                        <li><a href="single_post_l_sidebar.html">Left sidebar</a></li>
                                        <li><a href="single_post_full_width.html">Full Width</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="right_sidebar.html">Pages</a>
                            <ul>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="contact_us.html">Contact Us</a></li>
                                <li><a href="ask_question.html">Ask Question</a></li>
                                <li><a href="right_sidebar.html">Right Sidebar</a></li>
                                <li><a href="left_sidebar.html">Left Sidebar</a></li>
                                <li><a href="full_width.html">Full Width</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li><a href="shortcodes.html">Shortcodes</a></li>
                        <li><a href="contact_us.html">Contact Us</a></li>
                    </ul>
                 
                </nav>
                <hr />
            </section>
      
            
        </header>-->

       

        <header id="header" class="header_light">
            <section class="container clearfix">

                <div class="logo"><a href="#Home"><img alt="" src="../images/logo.png"></a></div>
                <nav class="navigation">
                    <ul>
                        <li class="ask_question">
                            <a href="#Home">Home</a>                           
                        </li>
                        <li class="ask_question"><a href="#askquestion">Ask</a></li>
                        <li class="ask_question"><a href="#questions">Questions</a></li>      
                                            
                        <li ng-hide="isLoggedIn" class="ask_question">
                           <a class="ask-question" href="">User</a>
                            <ul>
                                <li class="ask_question"><a href="#login">Login</a></li>
                                <li class="ask_question"><a href="#register">Register</a></li>                                
                            </ul>
                        </li>

                        <li ng-show="isLoggedIn" class="ask_question">
                            <a  class="ask-question" href="">Hello {{userName}}</a>
                            <ul>
                                <li class="ask_question"><a  ng-click="navigateToUserProfile()">Profile</a></li>
                                <li class="ask_question"><a ng-click="userLogOut()">Logout</a></li>
                            </ul>
                        </li>

                        <!--<li ng-show="isLoggedIn" class="ask_question">
                            <a class="ask-question" href=""> User</a>
                            <ul>
                                <li class="ask_question"><a href="#register">Register</a></li>
                                <li class="ask_question"><a href="#login">Login</a></li>
                            </ul>
                        </li>-->
                        
                       <!-- <li class="ask_question">
                            <a href="user_profile.html">Theme</a>
                            <ul>
                                <li><a href="" ng-click="selectTheme('skins')">Default</a></li>
                                <li><a href="" ng-click="selectTheme('blue')">Blue</a></li>
                                <li><a href="" ng-click="selectTheme('moderate_cyan')">Cyan</a>
                                <li><a href="" ng-click="selectTheme('green')">Green</a></li>
                                <li><a href="" ng-click="selectTheme('gray')">Gray</a></li>
                                <li><a href="" ng-click="selectTheme('red')">Red</a></li>                               
                                <li><a href="" ng-click="selectTheme('orange')">Orange</a></li>
                                <li><a href="" ng-click="selectTheme('purple')">Purple</a></li>                               
                                <li><a href="" ng-click="selectTheme('yellow')">Yellow</a></li>
                                
                            </ul>
                        </li>-->
                        <li class="current_page_item"><a href="#askquestion">Join School</a></li>    
                       
                    </ul>

                </nav>
                <hr class="tabs" />
            </section>


        </header>
        <div ng-view>

        </div>

        <!--<script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Select School</h3>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-5">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{selectedSchool}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                <li ng-repeat="a in schools"><a ng-click="selectSchool(a.Name,a.Id)">{{a.Name}}</a></li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <input type="password" placeholder="Enter School passcode" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <switch id="enabled" name="enabled" ng-model="enabled" class="wide" on="Admin" off="Regular"></switch>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" type="button" ng-click="ok()">GO</button>
                <button class="btn btn-info" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>-->



    
    </div>






    <!--<footer id="footer" class="footer_light_top">
        <section class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget widget_contact">
                        <h3 class="widget_title">Where We Are ?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu.</p>
                        <ul>
                            <li>
                                <span>Address :</span>
                                Ask Me Network, 33 Street, syada Zeinab, Cairo, Egypt.
                            </li>
                            <li>
                                <span>Support :</span>Support Telephone No : (+2)01111011110
                            </li>
                            <li>Support Email Account : info@example.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="ask_question.html">Ask Question</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="cat_question.html">Questions</a></li>
                            <li><a href="user_profile.html">Users</a></li>
                            <li><a href="blog_1.html">Blog</a></li>
                            <li><a href="right_sidebar.html">Pages</a></li>
                            <li><a href="shortcodes.html">Shortcodes</a></li>
                            <li><a href="contact_us.html">Contact Us</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
               
            </div>
        </section>
    </footer>-->
    <footer id="footer-bottom" class="footer_light_bottom">

        <section class="container">
            <hr class="tabs"/>
            <div class="copyrights f_left">Copyright 2015 QA97.COM | <a href="#">with <i class="fa fa-heart"></i>  QA97 from India</a></div>
            <div class="social_icons f_right">
                <ul>
                    <li class="twitter"><a original-title="Twitter" class="tooltip-n" href="#"><i class="social_icon-twitter font17"></i></a></li>
                    <li class="facebook"><a original-title="Facebook" class="tooltip-n" href="#"><i class="social_icon-facebook font17"></i></a></li>
                    <li class="gplus"><a original-title="Google plus" class="tooltip-n" href="#"><i class="social_icon-gplus font17"></i></a></li>
                    <li class="youtube"><a original-title="Youtube" class="tooltip-n" href="#"><i class="social_icon-youtube font17"></i></a></li>
                    <li class="skype"><a original-title="Skype" class="tooltip-n" href="skype:#?call"><i class="social_icon-skype font17"></i></a></li>
                    <li class="flickr"><a original-title="Flickr" class="tooltip-n" href="#"><i class="social_icon-flickr font17"></i></a></li>
                    <li class="rss"><a original-title="Rss" class="tooltip-n" href="#"><i class="social_icon-rss font17"></i></a></li>
                </ul>
            </div>
        </section>
    </footer>


    <div class="go-up"><i class="icon-chevron-up"></i></div>
    <!-- js -->
    
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/jquery.easing.1.3.min.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/twitter/jquery.tweet.js"></script>
    <script src="../js/jflickrfeed.min.js"></script>
    <script src="../js/jquery.inview.min.js"></script>
    <script src="../js/jquery.tipsy.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/jquery.flexslider.js"></script>
    <script src="../js/jquery.prettyPhoto.js"></script>
    <script src="../js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="../js/jquery.scrollTo.js"></script>
    <script src="../js/jquery.nav.js"></script>
    <script src="../js/tags.js"></script>
    <script src="../js/jquery.bxslider.min.js"></script>
    <script src="../js/custom.js"></script>
    <!-- End js -->
</body>
</html>
