<br />
<br />

<section class="container main-content">
    <div class="login">

        <div class="row">
            <!--forget pass form-->
            <div class="col-md-7" ng-show="resetPassFlag == 1">
                <div class="page-content">
                    <h2>Forget QA97 Password</h2>
                    <div class="form-style form-style-3">
                        <div class="form-inputs clearfix">
                            <p>
                                <label class="required">Email<span>*</span></label>
                                <input type="email"
                                       ng-required="true" name="email"
                                       ng-model="email" />
                            </p>
                            <span class="help-block">{{message}}</span>
                        </div>
                        <p class="form-submit">
                            <input type="button" ng-click="ForgetPassword()" value="Send Reset Link" class="button color small submit">
                        </p>
                    </div>
                </div>
            </div>

            <!--reset pass form-->
            <div class="col-md-7" ng-show="resetPassFlag == 2">
                <div class="page-content">
                    <h2>Reset QA97 Password</h2>
                    <div class="form-style form-style-3">
                        <div class="form-inputs clearfix">
                            <p>
                                <label class="required">Password<span>*</span></label>
                                <input type="password"
                                       ng-required="true" name="password"
                                       ng-model="password" />
                            </p>
                            <p>
                                <label class="required">Confirm Password<span>*</span></label>
                                <input type="password"
                                       ng-required="true" name="confirmPassword"
                                       ng-model="confirmPassword" />
                            </p>
                            <span class="help-block">{{message}}</span>
                        </div>
                        <p class="form-submit">
                            <input type="button" ng-click="ResetPassword()" value="Send Reset Link" class="button color small submit">
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="page-content">
                    <h2>Already a Member?</h2>
                    <p>QA 97 is great rus laoreet consequa. Vivamus vulputate posuere nisl quis consequat.</p>
                    <a class="button large color signup" href="#login">Login here</a>
                </div>
            </div>
        </div>

    </div>
</section>





