
<div ng-controller="AskQuestionController">
  <div class="row">
        
        <div class="col-md-3">
            
            <h3 class="create--account">Do you have question<a href="#">Log in </a></h3>
            <!--<span style="font-family:Arial;font-size:16px;color:#4A4A4A;">Forget Password  </span>-->
            
        </div>
        
     
    
   
        <div class="col-md-7">
            <form>
                <div class="row">
                    <!--<div class="col-md-3 pull-right">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{selectedSubject}}
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="a in subjects"><a ng-click="selectSubject(a.Name,a.Id)">{{a.Name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{selectedClass}}
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="a in classes"><a ng-click="selectClass(a.Name,a.Id)">{{a.Name}}</a></li>
                            </ul>
                        </div>
                    </div>-->
                </div>
                <div>
                  <div id="name-group" class="question">
                        <input type="text"
                        name="questiontext"
                        ng-model="questiontitle"
                        ng-keypress="clearemailstatusmessage()"
                        class="form-control"
                        placeholder="Title of the Question">
                        
                        <span class="help-block">{{questiontitleerrormessage}}</span>
                    </div>
                    <div id="loading">
                    <progress id="pbar" value="0" style="display:none"></progress>
                 </div>
                <div id="name-group" class="form-group">
                    <div class="row">
                        <div text-angular ng-model="questionDetailRichText"></div>
                        <span class="help-block">{{questiondetailerrormessage}}</span>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                        <select data-ng-model="selectedSubject" ng-options="s.Name for s in subjects">
                           
                        </select>
                        <select data-ng-model="selectedClass" ng-options="c.Name for c in classes">
                       
                    </select>
                </div>
                        <div class="col-md-4">
                            <button type="submit" ng-click="AskQuestions()" class="btn btn-lg btn-info">Post your Question</button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="flagaddquestion" class="alert alert-danger fade in">
                <!--<a href="#" class="close" data-dismiss="alert">&times;</a>-->
                <strong>Ooops!</strong> A problem has been occurred adding Question.
            </div>
        </form>
    </div>

</div>
</div>