

<br />
<br />
<section class="container main-content">

    <div class="row">






        <div class="col-md-9">

            <div class="page-content ask-question">

                <div class="boxedtitle page-title"><h2>Ask Question</h2></div>

                <div class="form-style form-style-3" id="question-submit">

                    <!--<div class="form-inputs clearfix">-->
                    <p>
                        <input type="text"
                               name="questiontext"
                               ng-model="questiontitle"
                               class="input"
                               ng-keypress="clearemailstatusmessage()"
                               placeholder="Title of the Question" />
                        <span class="help-block">{{questiontitleerrormessage}}</span>
                    </p>
                    <!--<div class="clearfix"></div>-->
                    <p class="row">
                        <div text-angular ng-model="questionDetailRichText"></div>
                        <span class="help-block">{{questiondetailerrormessage}}</span>
                    </p>

                    <div class="clearfix"></div>

                    <p>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="styled-select">
                                    <select data-ng-model="selectedSubject" ng-options="act.Name for act in subjects"></select>
                                </span>
                            </div>
                            <div class="col-md-6">
                                <span class="styled-select">
                                    <select data-ng-model="selectedClass" ng-options="act.Name for act in classes"></select>
                                </span>
                            </div>
                        </div>

                    </p>
                    <p>
                        <input type="submit" ng-click="AskQuestions()" class="button color large submit" value="Post your Question" />

                    </p>
                </div>

            </div>
        </div>


        <aside class="col-md-3 sidebar">
            <!--<div class="widget widget_stats">
                <h3 class="widget_title">Stats</h3>
                <div class="ul_list ul_list-icon-ok">
                    <ul>
                        <li><i class="icon-question-sign"></i>Questions ( <span>20</span> )</li>
                        <li><i class="icon-comment"></i>Answers ( <span>50</span> )</li>
                    </ul>
                </div>
            </div>-->




            <div class="widget widget_social loginwidgetrotate" ng-hide="isLoggedIn">
                <h3 class="widget_title">Login</h3>
                <ul>
                    <li class="youtube-subs ">
                        <a href="" ng-click="navigateToQuestion()">
                            <strong>
                                <i class="icon-user-md"></i>
                                <span>Login</span><br>
                                <small>To Ask Questions</small>
                            </strong>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="widget widget_highest_points" ng-show="isLoggedIn">
                <h3 class="widget_title">Star Students</h3>
                <ul>
                    <li>
                        <div class="author-img">
                            <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="http://yorkshirerepairs.co.uk/wp-content/uploads/2013/09/lwpi_student.jpg"></a>
                        </div>
                        <h6><a href="#">admin</a></h6>
                        <span class="comment">12 Points</span>
                    </li>
                    <li>
                        <div class="author-img">
                            <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="http://yorkshirerepairs.co.uk/wp-content/uploads/2013/09/lwpi_student.jpg"></a>
                        </div>
                        <h6><a href="#">vbegy</a></h6>
                        <span class="comment">10 Points</span>
                    </li>
                    <li>
                        <div class="author-img">
                            <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="http://yorkshirerepairs.co.uk/wp-content/uploads/2013/09/lwpi_student.jpg"></a>
                        </div>
                        <h6><a href="#">ahmed</a></h6>
                        <span class="comment">5 Points</span>
                    </li>
                </ul>
            </div>

            <div class="widget widget_social">
                <h3 class="widget_title">Find Us</h3>
                <ul>
                    <li class="facebook-fans">
                        <a href="#" target="_blank">
                            <strong>
                                <i class="social_icon-facebook"></i>
                                <span>5,000</span><br>
                                <small>People like it</small>
                            </strong>
                        </a>
                    </li>
                    <li class="twitter-followers">
                        <a href="#" target="_blank">
                            <strong>
                                <i class="social_icon-twitter"></i>
                                <span>3,000</span><br>
                                <small>Followers</small>
                            </strong>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="widget widget_tag_cloud">
                <h3 class="widget_title">Top Subjects</h3>
                <a href="#">projects</a>
                <a href="#">Portfolio</a>
                <a href="#">Wordpress</a>
                <a href="#">Html</a>
                <a href="#">Css</a>
                <a href="#">jQuery</a>
                <a href="#">2code</a>
                <a href="#">vbegy</a>
            </div>

        </aside>

    </div>

</section>

    <script type="text/ng-template" id="QA97LoginAlert.html">
 
        <div class="modal-header">
            <h3 class="modal-title">Login to QA97</h3>
        </div>
        <div class="modal-body">
            <div class="alert-message error">
                <i class="icon-flag">::before</i>
                <p><span>You must login to QA97 to ask questions</span></p>
            </div>
         </div>
        <div class="modal-footer">
            <p class="form-submit">
                <button class="button color medium submit" type="button" ng-click="ok()">Ok</button>
                <button class="button color small dark_button" type="button" ng-click="cancel()">Cancel</button>
            </p>
          
        </div>
</script>



