
<div class="container">

    <div class="contentBox homePage">

        <!--<h2>A GLOBAL NETWORK</h2>
        <h4>of students,teachers, & subject-matter experts</h4>-->
        <h3>
          expert answers to questions and instant help with homework,
                <br>
                just a click away
        </h3>
        <div class="search-section clearfix">

            <div class="serchbox clearfix">

                <label class="label">i want to</label>
                <span class="custom-select">
                    <!--<select>
                        <option>Ask a Question</option>
                        <option>Ask a Question1</option>
                        <option>Ask a Question2</option>
                        <option>Ask a Question3</option>
                    </select>-->
                    <select data-ng-model="selectedaction" ng-options="act.title for act in actions"></select>
                </span>

                <input type="submit" class="btn" ng-click="navigateToSearch()" value="go" />

            </div>

        </div>

    </div>
</div>