@font-face {
	font-family: 'qa97';
	src:url('../fonts/qa97.eot?woakaw');
	src:url('../fonts/qa97.eot?#iefixwoakaw') format('embedded-opentype'),
		url('../fonts/qa97.ttf?woakaw') format('truetype'),
		url('../fonts/qa97.woff?woakaw') format('woff'),
		url('../fonts/qa97.svg?woakaw#qa97') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'qa97';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sign-up:before {
	content: "\e614";
}
.icon-home:before {
	content: "\e615";
}
.icon-sign-in:before {
	content: "\e616";
}
.icon-edit:before {
	content: "\e606";
}
.icon-search:before {
	content: "\e607";
}
.icon-comment:before {
	content: "\e608";
}
.icon-download:before {
	content: "\e609";
}
.icon-q:before {
	content: "\e60a";
}
.icon-a:before {
	content: "\e60b";
}
.icon-link:before {
	content: "\e60c";
}
.icon-cross:before {
	content: "\e60d";
}
.icon-like:before {
	content: "\e60e";
}
.icon-dislike:before {
	content: "\e60f";
}
.icon-share:before {
	content: "\e610";
}
.icon-notification:before {
	content: "\e611";
}
.icon-edit-note:before {
	content: "\e612";
}
.icon-user:before {
	content: "\e613";
}
.icon-mail:before {
	content: "\e600";
}
.icon-lock:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-google:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e605";
}
