<br />
<br />

<section class="container main-content">
    <div class="login">

        <div class="row">
            <div class="col-md-7">
                <div class="page-content">
                    <h2>Login</h2>
                    <div class="form-style form-style-3">
                      

                       
                                <form>
                                    <div class="form-inputs clearfix">
                                        <p  class="login-text">
                                           
                                            <input type="email"
                                                   ng-required="true"
                                                   name="email"
                                                   ng-model="useremail"
                                                   ng-focus="clearloginerrormessage()"
                                                   class="form-control"
                                                   placeholder="Email">
                                            <i class="icon-user"></i>
                                            <span class="help-block"></span>
                                        </p>
                                        <p  class="login-password">
                                            
                                            <input type="password"
                                                   ng-required="true"
                                                   ng-model="userpassword"
                                                   ng-focus="clearloginerrormessage()"
                                                   name="password"
                                                   class="form-control "
                                                   placeholder="Password">
                                            <i class="icon-lock"></i>
                                            <a href="#">Forget</a>
                                            <span class="help-block"></span>
                                        </p>
                                    </div>
                                    <div ng-show="loginerrorflag" class="alert alert-danger fade in">
                                        <strong>{{loginerrormessage}}</strong> <span class="help-block">New user <a class="btn-link" href="/Register">Sign Up</a> </span>
                                    </div>
                                    <p class="form-submit login-submit">
                                        <button class="button color small login-submit submit" type="submit" ng-click="ValidateUser()">
                                            Login
                                        </button>
                                    </p>
                                    <div class="rememberme">
                                        <label><input type="checkbox" checked="checked"> Remember Me</label>
                                    </div>
                                </form>
                                <!--<div class="create--account"><p>Dont have an account? <a href="#">Create a free account</a> </p></div>-->
                           

                        <!--<div class="row new--account">
                            <div class="alternate inline">Sign in with</div>
                            <button class="f--awesome btn btn-lg btn-info"><i class="fa fa-google"></i></i></button>

                            <button class="f--awesome btn btn-lg btn-info"><i class="fa fa-facebook"></i></button>

                            <button class="f--awesome btn btn-lg btn-info"><i class="fa fa-linkedin"></i></i></button>

                        </div>-->
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="page-content">
                    <h2>Register Now</h2>
                    <p>QA 97 is great rus laoreet consequa. Vivamus vulputate posuere nisl quis consequat.</p>
                    <a class="button large color signup">Join QA97</a>
                </div>
            </div>
        </div>

    </div>
</section>





